[submodule "deps/libcouchbase"]
	path = deps/libcouchbase
	url = git://github.com/couchbase/libcouchbase.git
[submodule "deps/json"]
	path = deps/json
	url = git://github.com/nlohmann/json.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git://github.com/gabime/spdlog.git
