[submodule "deps/json"]
	path = deps/json
	url = git@github.com:nlohmann/json.git
[submodule "deps/couchbase-cxx-client"]
	path = deps/couchbase-cxx-client
	url = git@github.com:couchbaselabs/couchbase-cxx-client.git
[submodule "deps/gtest"]
	path = deps/gtest
	url = git@github.com:google/googletest.git
